@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: 100%;
    background: rgb(81, 81, 121);
    padding: 25px 0;
    z-index: 999;
    font-family: Arial, sans-serif;
    transition:all .3s ease;
    }
.navbar .sticky{
    background:blue;
    padding: 25px 0;
   }
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    color: white;
    font-size: 35px;   
    font-weight: 600;
}
.navbar .logo a:hover
{
    color:green;
}
.navbar .logo a span{
    color: white;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color  0.3s ease;
}
.navbar .menu li a:hover{
    color: blue;

}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.menu-button{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display:none ;
}

/*home section*/
.home{

    display:flex;
    height: 100vh;
    color: white;
    background: url("photo.jpg") no-repeat right ,linear-gradient(180deg, rgba(26,78,130,1) 0%, rgb(53, 55, 57) 62%, rgb(64, 64, 72) 100%, rgb(43, 49, 55) 100%);
    min-height: 400px;
   
    font-family:Arial, sans-serif ;
    
}
.home .max-width{
    margin: auto 0 auto 20px;

}

.home .home-content .text-1{
    font-size: 27px;
    
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

    
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
    margin: 10px;
}

/*about section styling*/

.about{
    font-family: 'poppins', sans-serif;
} 
.about h2{
    position: relative;
    text-align:center;
    font-size: 40px;
    width: 500;
    margin-bottom: 60px;
    padding-bottom: 20px; 
    font-family: sans-serif;
}
.about h2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}.about h2::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 18px;
    color: crimson;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between ;
}

.about .about-content .left{
    
    width:45% ;
}
.about .about-content .left img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;  
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600; 
    margin-bottom: 10px; 
}
.about .about-content .right .text span{
   color: crimson; 
}
.about .about-content .right p{
   text-align: justify;   
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 30px;
    margin-top: 15px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all .3s ease;
       
 }                                 
 .about .about-content .right a:hover{
    color:crimson;
    background:none ;  
 }
/*skill section styling*/


.skills{
    font-family: 'poppins', sans-serif;
} 
.skills h2{
    position: relative;
    text-align:center;
    font-size: 40px;
    width: 500;
    margin-bottom: 60px;
    padding-bottom: 20px; 
    font-family: sans-serif;
}
.skills h2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.skills h2::after{
    content: "what I know";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 18px;
    color: crimson;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between ;
}
.skills .skills-content .column{
    width:100%;
}
.skills .skills-content .left{
    
    width:50% ;

}

.skills .skills-content .right{
    width:50%; 
    padding-left: 50px; 
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .bars .info{
   display: flex;
   align-items: center;
   justify-content:space-between   ; 
}

.skills .skills-content .right .bars .info{
    font-size: 25px;
    font-weight: 600; 
    margin-bottom: 10px; 
}
.skills .skills-content .right .bars .info span{
    font-weight: 500;
    font-size: 18px;
}

/* contact section*/

.contact{
    font-family: 'poppins', sans-serif;
} 
.contact h2{
    position: relative;
    text-align:center;
    font-size: 40px;
    width: 500;
    margin-bottom: 20px;
    padding-bottom:20px; 
    font-family: sans-serif;
}
.contact .contact-content .row{
    display: flex;
    align-items: center;
    height: 65px;
     
}.contact .contact-content .row .info{
   margin-left: 30px; 
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content  .info .head{
    font-weight:500; 
 }
 .contact .contact-content  .info .subtitle{ 
    font-weight:500;
    color:rgb(37, 116, 211); 
 }
 section{
    
 }
 .footer
 {
    background: #111;
    padding: 20px 15px;
    
 }
 .footer .text{
    color: white ;
 }
 /*responsive media query start*/
 @media(max-width:1300px){
    .home .maxmedia{
        margin-left: 0px;
    }
    @media(max-width:1104px){
        .about .about-content .left img{
            height:250px;
            width:250px;
        }
       
       }
@media(max-width:991px){
     .max-width{
       padding: 0 50px;
       }
}
@media(max-width:947px){
     .menu-button{
        display:block ;
        z-index: 999;
    }
.menu-button i.active:before{
   content: "\f00d";
}

.navbar .menu{
    position: fixed;
    height:100vh;
    width: 100%;
    left:-100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all .3s ease;
} 
.navbar .menu.active{
  left: 0;  
}

.navbar .menu li{
    
    display: block;

}
.navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}

.home .home-content .text-2{
    font-size: 75px;
}
.home .home-content .text-3{
    font-size: 35px;
}
.max-width{
    max-width: 1400px;
}
.about .about-content .column{
width:100% ;
}
.about .about-content .left{
    display: flex ;
    justify-content: center;
    margin: 0 auto 60px;
    }
.about .about-content .right{
flex: 100%;
}

@media(max-width:600px){
    .max-width{
        padding: 0 15px;
        }
    .home .home-content .text-2{
    font-size: 50px;
    }
.home .home-content .text-3{
    font-size: 32px;
    }
}
@media(max-width:400px){
   
    .home .home-content .text-2{
    font-size: 50px;
    }
.home .home-content .text-3{
    font-size: 27px;
    }
}



